
.hero-section {
  display: flex;
  flex-direction: column;
  padding: 240px 440px;
  gap: 40px;
}

.hero-section h1 {
  text-align: center;
}
.hero-section p {
  width: 70%;
}

.visibility {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 100px;
}

.visibility > div {
  width: 45%;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.visibility h1 {
  text-align: center;
}
.visibility p, ul {
  font-style: italic;
}

li {
  list-style-position: inside;
  padding-left: 1em;
}

.visibility img {
  width: 700px;
 
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.25);
  background-color: #D9D9D9;

  cursor: default;
  transition: 0.3s ease;
  filter: grayscale(50%);
}

.visibility img:hover {
  width: 700px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
  transform:scale(1.5);
  filter: grayscale(0%);
  z-index: 9999;
}

.roombyroom {
  margin: 150px 0;
  height: auto;
  gap: 90px;
}
.roombyroom > div {
  display: flex;
  flex-direction: column;
  gap: 60px;
  text-align: center;
}

.roombyroom img {
  width: 700px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
  cursor: default;
  transition: 0.3s ease;
  filter: grayscale(50%);
}
.roombyroom img:hover {
  width: 700px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0,0,0,0.5);
  transform:scale(1.5);
  filter: grayscale(0%);
  z-index: 9999;
  
}

.samplesummary {
  background-color: #FAFAFA;
  padding: 0 269px;
  margin-bottom: 0px;
  flex-direction: column;
  gap: 50px;
}

.finalcta {
  background-image: none;
}

.finalcta h3,
.finalcta p {
  color: black;
}