* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
html,
body {
  font-family: "JetBrains Mono", monospace;
  height: 100%;
  overflow-x: hidden;

  letter-spacing: -2.5%;
}

h1 {
  font-size: 36px;
  font-weight: 500;
}

h2 {
  font-size: 32px;
  font-weight: 500;
}

h3 {
  font-size: 22px;
  font-weight: 400;
}

p {
  font-size: 18px;
  font-weight: 400;
}

body {
  background-image: url("attached_assets/b31323_dark.png");
  background-color: black;
  background-size: cover;
  background-repeat: no-repeat;
  overflow-y: hidden;
  height: 100vh;
}



#tooltip {
  z-index: 999;
  position: fixed;
  width: auto;
  height: 40px;
  background: black;
  border-radius: 2px;
  pointer-events: none;
  opacity: 0;
  transition: opacity 0.2s ease;
  color: white;
  font-size: 14px;
  line-height: 40px;
  padding: 0 10px;
}

.sidebar {
  position: fixed;
  backdrop-filter: blur(20px);
  width: 150px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 20px 0px;
  align-items: center;
  border-right: 1px solid rgba(255, 255, 255, 0.25);
}

.sidebar > div {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  gap: 16px;
  margin-bottom: 20px;
}

.sidebar > img {
  max-width: 80%;
}

.sidebar > div img {
  max-width: 100%;
  border: 1px solid rgba(255, 255, 255, 0.25);
}

.sidebar > div img,
.sidebar span {
  width: 50px;
}

.sidebar span {
  font-size: 40px;
  color: white;
  opacity: 0.5;
  cursor: default;
  transition: 0.3s ease;
}

.sidebar span:hover {
  scale: 1.05;
  opacity: 1;
}

.top-div {
  margin-left: 150px;
  width: calc(100% - 150px);
  height: 100px;
  padding: 40px;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.top-div p {
  color: white;
}

.top-div input {
  text-align: center;
  width: 900px;
  height: 50px;
  border-radius: 50px;
  backdrop-filter: blur(10px);
  outline: none;
  color: white;
  font-family: "JetBrains Mono", monospace;
  border: 1px solid rgba(255, 255, 255, 0.25);
  background-color: rgba(255, 255, 255, 0.001);
}

.top-div input:focus {
  outline: none;
}

.main {
  margin-left: 150px;
  width: calc(100% - 150px);
  height: calc(100% - 100px);
  display: flex;
  flex-direction: column;
}

.main h2 {
  width: 100%;
  text-align: center;
  color: white;
  font-size: 32;
}

.main > div {
    display: flex;
    height: 100%;
    padding: 120px;
    gap: 20px;
}

.building {
    width: 320px;
    height: 100%;
    border-radius: 18px;
    backdrop-filter: blur(40px);
    box-shadow: 0 4px 4px 0 rgba(0,0,0, 0.25);
    border: 1px solid rgba(255,255,255,0.15);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    transition: 0.3s ease;
    padding: 40px;
}

.building:hover {
    scale: 1.05;
}

.building > div {
    color: white;
    width: 100%;
    height: auto;
    display: flex;
    gap: 4px;
    flex-direction: column;
}

.building > a {
    cursor: default;
    opacity: 0.75;
    color: white;
    text-align: center;
    width: 100%;
    transition: 0.3s ease;
    text-decoration: underline;
}

.building > a:hover {
    scale: 1.05;
    opacity: 1;
}

