:root {
    --accent-color: rgb(76, 175, 229);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html, body {
    font-family: 'JetBrains Mono', monospace;
    font-weight: 200;
    height: 100%;
    font-family: 'Arial', sans-serif;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

a {
  color: inherit; /* blue colors for links too */
  text-decoration: inherit; /* no underline */
}


b {
    font-weight: 600;
}

a {
    transition: 0.1s ease;
}

a:hover {
    transform: scale(1.05)  rotate(-1deg);
}

a:active {
    transform: scale(0.95);
    filter: brightness(30%);
}

p, input {
    color: #FFF;
    font-family: "JetBrains Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    line-height: 170%; /* 47.6px */
    letter-spacing: -5%;
}

h1 {
    color: #FFF;
    font-family: "JetBrains Mono";
    font-size: 80px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 47.6px */
    letter-spacing: -5%;
}

h2 {
    color: #FFF;
    font-family: "JetBrains Mono";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 47.6px */
    letter-spacing: -5%;
}

section {
    height: 100vh;                  /* each section fills screen height */
    background-size: cover;
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    font-size: 2rem;
}


.bg-one {
    height: 150vh;
  position: relative;
  overflow: hidden; 
}

.bg-one::before {
    
  content: "";
  position: absolute;
  inset: 0;
  background-image: url("attached_assets/contactbg.png");
  background-size: cover;
  background-position: center;
  filter: brightness(50%);
  z-index: 0;
}

.bg-one > * {
  position: relative;
  z-index: 1;
}

.hero-text {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 30px;
    margin-right: 40px;
    margin-left: 40px;
    margin-top: 200px;
    width: 100%;
    height: 100%;
    
}

.hero-text h1 {
    color: #3887b2;
    font-weight: 300;
    font-size: 80px;
    line-height: 90%;
}

.hero-text p {
    font-size: 50px;
}

.hero-text > div {
    width: 100%;
    flex-grow: 1;
    margin-bottom: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #FFF;
    font-family: "JetBrains Mono";
    font-size: 40px;
    font-style: normal;
    font-weight: 400;
    line-height: 170%; /* 47.6px */
    letter-spacing: -5%;
    margin-top: 60px;
    
}

.right {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    text-align: right;
    gap: 10px;
}
.right h1 {
    font-size: 48px;
    color: white;
}

.right p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    width: 80%;
}

.left {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
    gap: 10px;
}
.left h1 {
    font-size: 32px;
    color: white;
}

.left p {
    margin-top: 20px;
    margin-bottom: 20px;
    color: rgba(255, 255, 255, 0.5);
    font-size: 24px;
    width: 80%;
}



.right input {
    width: 559px;
    height: 60px;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    font-size: 18px;
    text-align: right;
    padding: 20px;
}

.right textarea {
    width: 559px;
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0);
    border: 1px solid rgba(255,255,255,0.3);
    color: white;
    font-size: 18px;
    text-align: right;
    padding: 20px;
    resize: none;
}

.right a, .demo a {
    backdrop-filter: blur(20px);
    background-color: rgba(255,255,255,0);
    border: 1px solid rgba(45,211,111,0.3);
    width: 559px;
    height: 60px;
    text-align: center;
    color: rgba(45,211,111,1);
    line-height: 60px;
    font-weight: 600;
    box-shadow: 0 0 12px 0 rgba(45,211,111,0.5);

    font-size: 20px;

}

.subtext {
    font-size: 18px !important; 
    opacity: 0.8;
}

.right input::placeholder,  .right textarea::placeholder{
    opacity: 0.3;
    color: white;
}


.left {
    width: 50%;
    height: 100%;

    display: flex;
    flex-direction: column;
}

.left div {
    width: 100%;
    height: 50%;
}

.demo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-end;
    margin-bottom: 80px;

}

.demo i {
    font-size: 28px;
    font-weight: 200;
    opacity: 0.8;
}
.topbar {
    mix-blend-mode: difference;
    position: fixed;     /* sticks to top */
    top: 0;
    left: 0;
    width: 100%; 
    height: 80px; 
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
    font-weight: 200;
    color: white;
    font-size: 20px;
    font-family: 'JetBrains Mono', monospace;
    letter-spacing: -5% ;
    padding: 0 20px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.3);
    backdrop-filter: blur(10px);
    z-index: 1000;       /* keep it above everything else */
}


.nav-links {
    display: flex;
    justify-content: center;
    flex: 1; 
    gap: 20px;
    mix-blend-mode: difference;
}

.nav-links div {
    transition: 0.1s ease-in;
}

.nav-links div:hover {
    filter: brightness(75%);
    transform: scale(1.05)  rotate(-1deg);
}

.nav-links div:active {
    transform: scale(0.95);
    filter: brightness(30%);
}

.topbar img {
    width: 100px;
    margin-left: auto; /* pushes image to far right */
}


.footer {
    background-color: black;
    height: 568px;
    align-items: start;
    justify-content: space-between;
}

.footer-left {
    width: 853px;
    margin-left: 117px;
    margin-top: 70px;
}
.footer-hero {
    text-align: left;
    left: 0px;
    font-size: 40px;
}
    
.footer-hyperlinks {
    display: flex; 
    gap: 165px;
    margin-top: 70px;
    margin-right: 110px;
}

.footer-hyperlinks div p {
    transition: 0.1s ease-in;
}

.footer-hyperlinks div p:hover {
    filter: brightness(75%);
    transform: scale(1.05)  rotate(-1deg);
}

.footer-hyperlinks div p:active {
    transform: scale(0.95);
    filter: brightness(30%);
}


.email-input {
    margin-top: 60px;
    height: 50px;
    width: 673px;
    border-bottom: 1px solid white;
    display: flex;
    align-content: center;
    justify-content: space-between;
}

.email-input a {
    margin: auto 0;
    transition: 0.1s ease-in;
}


.email-input a:hover {
    filter: brightness(75%);
    transform: scale(1.05)  rotate(-1deg);
}

.email-input a:active {
    transform: scale(0.95);
    filter: brightness(30%);
}


.email-input input {
    background-color: transparent;
    color: #FFF;
    font-family: "JetBrains Mono";
    font-size: 24px;
    font-style: normal;
    font-weight: 200;
    letter-spacing: -5%;
    border: none;
}

.email-input input:focus {
    outline: none;
}
.socials {
    margin-top: 25px;
    display: flex;
    gap: 20px;
}

.socials a {
    transition: 0.1s ease-in;
}

.socials a:hover {
    filter: brightness(75%);
    transform: scale(1.05)  rotate(-1deg);
}

.socials a:active {
    transform: scale(0.95);
    filter: brightness(30%);
}


.copyright {
    margin-top: 60px;
    font-size: 14px;
}