.hero {
  display: flex;
  /* justify-content: space-between; */
  padding: 115px 70px;
  height: auto;
  gap: 300px;
}

.hero > div,
.hero > form {
  width: auto;
  height: 85vh;
}

form {
  display: flex;
  flex-direction: column;
}

input{
  opacity: 0.5;
  font-size: 18px;
  margin-bottom: 20px;
  height: 50px;
  border: none;
  font-style: italic;
  border-bottom: 1px solid black;
}

li {
  font-style: italic;
    list-style-position: inside;
    padding-left: 1em;
}
form h3 {
  width: 600px;
  font-style: italic;
}



form a {
  background-color: #222223;
  color: white;
}

form input:focus {
  outline: none;
}
