.hero {
  display: flex;
  /* justify-content: space-between; */
  padding: 115px 70px;
  height: auto;
  gap: 300px;
}

.hero > div,
.hero > form {
  width: auto;
  height: 85vh;
}

form {
  display: flex;
  flex-direction: column;
}

input{
  opacity: 0.5;
  font-size: 18px;
  margin-bottom: 20px;
  height: 50px;
  border: none;
  font-style: italic;
  border-bottom: 1px solid black;
}

li {
  font-style: italic;
    list-style-position: inside;
    padding-left: 1em;
}
form h3 {
  width: 600px;
  font-style: italic;
}

button {
  border-radius: 9px;
  text-align: center;
  line-height: 60px;
  font-size: 20px;

  border: none;

  background-color: rgba(0, 0, 0, 0);
  color: white;
}

form a {
  text-decoration: none;
  background-color: #222223;
}

form input:focus {
  outline: none;
}
